// fonts
$font-main: 'Raleway', sans-serif;
$font-accent: 'Playfair Display';
$font-secondary: 'Roboto', sans-serif;

// Colors
$dark: #20232c;
$accent: #272a2b;
$white: #ffffff;
// $footer-bg: #2D343C;
$placeholder: #BEBEBE;
$muted: #f7f7f7;

// Media
$tablet: 959px;